{% extends 'base.html.twig' %}

{% block title %}Mon compte | Restaurant Quai Antique
{% endblock %}

{% block content %}
	<div class="container mt-5 pt-5">

		<h1>Gérer mon compte</h1>

		<div class="container-block">
			{% if is_granted('ROLE_USER') %}
				<div class="card m-3">
					<div class="card-body">
						<h5 class="card-title">Choisir un nombre de convive</h5>
						<hr>
						<h5 class="card-title">Vos allergies</h5>
						<textarea name="allergy" id="allergy" cols="30" rows="10"></textarea>
						<hr>
					</div>

				</div>

			{% endif %}
		</div>
	</div>
{% endblock %}
