{% extends 'base.html.twig' %}

{% block title %}Mon compte | Restaurant Quai Antique
{% endblock %}

{% block content %}
	<div class="container mt-5 pt-5">
		<h1>Gérer mon compte</h1>
		<div class="container-block">
			<div class="row">
				<div class="col-md-12">
					<div class="card m-3">
						<div class="card-body">
							<p class="card-title">
								<a href="{{path('app_password')}}">
									<i class="bi bi-lock-fill"></i>
									Modifier mon mot de passe</a>
							</p>
							{% if is_granted('ROLE_ADMIN') %}
								<p class="card-title">
									<a href="/admin">
										<i class="bi bi-gear"></i>
										Accéder à l'administration du site</a>
								</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-block">
			{% if is_granted('ROLE_USER') %}
				<div class="row">
					<div class="col-md-12">
						<div class="card m-3">
							<div class="card-body">
								<h6 class"card-title">Personnaliser vos réservations</h6>
								<hr>
								<a href="{{path('app_account_add_info')}}" class="btn btn-primary float-right">Ajouter des informations</a>

							</div>
						</div>
					</div>
				</div>
			{% endif %}

		</div>
	</div>
{% endblock %}
