{% extends 'base.html.twig' %}

{% block title %}Mon compte | Restaurant Quai Antique
{% endblock %}

{% block content %}
	<div class="container mt-5 pt-5">
		<h1>Gérer mon compte</h1>
		<div class="container-block">
			<div class="row">
				<div class="col-md-12">
					<div class="card m-3">
						<div class="card-body">
							<p class="card-title">
								<a href="{{path('app_password')}}">
									<i class="bi bi-lock-fill"></i>
									Modifier mon mot de passe</a>
							</p>
							{% if is_granted('ROLE_ADMIN') %}
								<p class="card-title">
									<a href="/admin">
										<i class="bi bi-gear"></i>
										Accéder à l'administration du site</a>
								</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-block">
			{% if is_granted('ROLE_USER') %}
				<div class="row">
					<div class="col-md-12">
						<div class="card m-3">
							<div class="card-body">
								<h6 class"card-title">Personnaliser vos réservations</h6>
								<hr>
								<div class="mb-2">
									<p>Nombre de couvert souhaité</p>
									<select class="form-select" aria-label="Default select example">
										<option selected>Choix du nombre de couverts</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="3">4</option>
										<option value="3">5</option>
										<option value="3">6</option>
										<option value="3">7</option>
										<option value="3">8</option>
										<option value="3">9</option>
										<option value="3">10</option>
									</select>
								</div>
								<div class="mt-2 mb-4">
									<p>Renseigner dans ce cadre, vos éventuels allergies</p>
									<textarea name="allergy" id="allergy" cols="100" rows="10"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}

		</div>
	</div>
{% endblock %}
