{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe | Restaurant Quai Antique
{% endblock %}

{% block content %}
	<div class="container mt-5 pt-5">
		<div class="mb-4">
			<a href="{{path('app_account')}}">Retour à mon compte</a>
		</div>
		{% if notification %}
			<div class="alert alert-info">{{ notification }}</div>
		{% endif %}
		{{form(form)}}
		</div>
	</div>
{% endblock %}
