{% extends 'base.html.twig' %}

{% block title %}
	Restaurant Quai Antique | Bienvenue!
{% endblock %}
{% block carousel %}{% endblock %}

{% block content %}
	<main id="formule" class="pt-2">
		<div class="row row-cols-3 row-cols-md-3 mb-3 text-center">
			{% for menu in menus %}
				<div class="col">
					<div class="card mb-4 rounded-3 shadow-sm">
						<div class="card-header py-3">
							<h4 class="my-0 fw-normal" id="menuCategory">{{menu.title}}</h4>
						</div>
						{% for formule in menu.formule %}
							<div class="card-body">
								<h5 class="card-title pricing-card-title" id="menuTitle">
									{{ formule.title }}
									|
									<small class="text-muted fw-light">{{(formule.price/100) | format_currency('EUR') }}</small>
								</h5>
								<p class="list-unstyled mt-3 mb-4">
									{{ formule.description|nl2br }}
								</p>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
