{% extends 'base.html.twig' %}

{% block title %}Réserver une table
{% endblock %}

{% block content %}
	<main class="container mb-5">
		<h1>Réserver une table</h1>
		{{form(form)}}
		</main>
	{% endblock %}
