{% extends 'base.html.twig' %}

{% block title %}Restaurant Quai Antique | Enregistrer un patient
{% endblock %}

{% block content %}
	<div class="container mt-5 pt-5 mb-5" style="width:80vw;">
		<h1 class="text-center mb-4">Créer son compte</h1>

		<div class="row justify-content-center align-items-center">
			<div class="card p-4 m-4 rounded" style="width:40vw;">
				{{ form_start(form) }}
				<div class="row mb-4">
					<div class="col md-12">
						{{ form_row(form.civility) }}
					</div>
				</div>
				<div class="row">
					<div class="col md-6">
						{{ form_row(form.lastname) }}
					</div>
					<div class="col md-6">
						{{ form_row(form.firstname) }}
					</div>
				</div>
				<div class="row">
					<div class="col md-12">
						{{ form_row(form.email) }}
					</div>
				</div>
				<div class="row">
					<div class="col md-6">
						{{ form_row(form.password.first) }}
					</div>
					<div class="col md-6">
						{{ form_row(form.password.second) }}
					</div>
				</div>
				<div class="col md-12">
					{{ form_row(form.submit) }}

				</div>
			</div>
		</div>
		{{ form_end(form) }}

	</div>
</div></div>{% endblock %}
