<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Restaurant Quai Antique
			{% endblock %}
		</title>
		<!-- Bootstrap core CSS -->
		<link href="{{ asset('assets/style/bootstrap.min.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
		<link rel="stylesheet" href="{{ asset('assets/style/main.css') }}">

	</head>
	<body>
		<!-- /.navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/">
				Restaurant QA
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ms-end mx-auto">
					{% if app.user %}
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('app_home') }}">Accueil
							</a>
						</li>
					{% endif %}
					<li class="nav-item active">
						<a class="nav-link" href="#">La carte
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#">Réserver
						</a>
					</li>
					<li class="nav-item active">
						<a class="btn btn-primary" href="#">Se connecter
						</a>
					</li>
				</ul>
				{# <div class="navbar-item-custom">
																																													{% if app.user %}
																																								
																																														<a href="{{ path('app_account') }}">
																																															<i class="bi bi-person-circle"></i>
																																															Mon compte
																																															<small>({{ app.user.firstname }})</small>
																																														</a>
																																														|
																																														<a href="{{ path('app_logout') }}">
																																															<i class="bi bi-box-arrow-left"></i>
																																															Se déconnecter
																																														</a>
																																													{% else %}
																																														<a href="{{ path('app_login') }}">
																																															<i class="bi bi-box-arrow-in-right"></i>
																																															Se connecter</a>
																																													{% endif %}
																																												</div> #}
			</div>
		</nav>
	</body>
</html></header><!-- /.navbar -->{% block content %}{% endblock %}</body></html>
