{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block content %}

	<div class="container pt-5 mt-5 w-100 mx-auto ms-auto">
		<div class="row w-25 mx-auto">
			<h1 class="font-weight-normal text-center">Se connecter
			</h1>
		</div>

		<div class="row w-25 mx-auto">
			<form method="post">

				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<label for="inputEmail">Votre Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword">Votre mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
																																																																																																																																																	        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																																																																																																																																	        See https://symfony.com/doc/current/security/remember_me.html
																																																																																																																																																	
																																																																																																																																																	        <div class="checkbox mb-3">
																																																																																																																																																	            <label>
																																																																																																																																																	                <input type="checkbox" name="_remember_me"> Remember me
																																																																																																																																																	            </label>
																																																																																																																																																	        </div>
																																																																																																																																																	    #}

				<button class="btn btn-block btn-info mt-4 mb-5" type="submit">
					Se connecter
				</button>
			</form>
		</div>
	</div>
{% endblock %}
